[client]
#password					= password
port						= 4321
socket						= /var/lib/mysql/mysql.sock

[mysqld_safe]
err-log						= /var/log/mysql.err

[mysqld]
user 						= mysql
port 						= 4321
pid-file 					= /var/lib/mysql/mysqld.pid
log-error 					= /var/log/mysqld.err
basedir 					= /usr
datadir 					= /var/lib/mysql
skip-external-locking
skip-networking
ignore-builtin-innodb
default-storage-engine				= myisam
bind-address					= localhost

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
