{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/about.css" %}" />
{% endblock %}

{% block title %}A propos{% endblock %}

{% block content %}
<div class="frame" id="frame">
    <div style="display: table-row;">
        <div style="display:table-cell;">Version application web</div>
        <div class="version">{{ web_version }}</div>
    </div>
    <div style="display: table-row; height: 1em;">&nbsp;</div>
    <div style="display: table-row;">
        <div style="display:table-cell;">Version service</div>
        <div class="version">{{ service_version }}</div>
    </div>
    <div style="display: table-row; height: 1em;">&nbsp;</div>
    <div style="display: table-row;">
        <div style="display:table-cell;">Version framework</div>
        <div class="version">{{ fwk_version }}</div>
    </div>
</div>
{% endblock %}

{% block script %}
    $('#frame').position({
        my: "center",
        at: "center",
        of: window
    });
{% endblock %}