{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"fr-fr" }}">
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/base.css" %}{% endblock %}" />
<link rel="stylesheet" type="text/css" href="{% static "js/jquery-ui.css" %}" />
<script src="{% static "js/jquery-2.1.4.js" %}"></script>
<script src="{% static "js/jquery-ui.js" %}"></script>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>

{% load i18n %}

<body class="{% block bodyclass %}{% endblock %}">

    <!-- Container -->
    <div class="container">

        <!-- Header -->
        <div class="header">
            <img class="logo" src="{% static "images/remidomo.png" %}" alt="remidomo"/>
            <div class="brand"><span class="brand">Remidomo</span></div>
        </div>
        <!-- END Header -->

        <!-- Content -->
        <div class="content">
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
            {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}
            <br class="clear" />
        </div>
        <!-- END Content -->

        <div class="push"></div>
    </div>
    <!-- END Container -->

    <!-- Navigation Footer -->
    <div class="footer">
        <a class="navitem" href="/">Accueil</a>
        <a class="navitem" href="/chauffage">Chauffage</a>
        <a class="navitem" href="/about">A propos</a>
        <a class="navitem" href="/logs">Journal</a>
    </div>
    <!-- END Footer -->

    <script>
    {% block script %}{% endblock %}
    </script>
</body>
</html>
