{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"fr-fr" }}">
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>

{% load i18n %}

<body class="{% block bodyclass %}{% endblock %}">

    <!-- Container -->
    <div class="container">

        <!-- Header -->
        <div class="header">
            <img class="logo" src="{% static "images/remidomo.png" %}" alt="remidomo"/>
            <div class="brand"><span class="brand">{% block banner %}{% endblock %}</span></div>
        </div>
        <!-- END Header -->

        <!-- Content -->
        <div id="content" style="clear: both;">
            <div align="center"><img src="{% static "images/nelson.jpg" %}" alt="ah ah !"/>
                {% block details %}{% endblock %}
            </div>
            <br class="clear" />
        </div>
        <!-- END Content -->

        <div class="push"></div>
    </div>
    <!-- END Container -->

    <!-- Navigation Footer -->
    <div class="footer">
        <a class="navitem" href="/">Accueil</a>
        <a class="navitem" href="/chauffage">Chauffage</a>
        <a class="navitem" href="/about">A propos</a>
        <a class="navitem" href="/logs">Journal</a>
        <a class="navitem" href="/chauffage/config">Configuration</a>
        <a class="navitem" href="/admin">Administration</a>
    </div>
    <!-- END Footer -->

</body>
</html>
