{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/graph.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/custom-icons.css" %}" />
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
<div class="frame" id="frame">
    <div class="title" id="title">
    {% if dataset_name != 'all' %}
        {{ dataset_name|capfirst }}
    {% endif %}
    </div>
    <div class="range">
        <div class="range-item">
            <label for="range_nb"></label>
            <input readonly id="range_nb" name="range_nb" value="{{ range_nb }}"/>
        </div>
        <div class="range-item">
            <select id="range_units" value="{{ range_units }}">
                <option>jours</option>
                <option>mois</option>
            </select>
        </div>
    </div>
    <div class="graph" id="graph"><img style="padding-top: 10em;" src="{% static "images/hourglass.gif" %}"></div>
</div>
{% endblock %}

{% block script %}
$('#frame').position({
    my: "center",
    at: "center",
    of: "#content"
});

google.load("visualization", "1.0", {packages:["corechart", 'annotatedtimeline']});
google.setOnLoadCallback(drawChart);

function drawChart() {

    var TZ = 2 * {{ time_offset }};

    var value_formatter = new google.visualization.NumberFormat({fractionDigits:1, suffix:' {{ units }}'});
    var date_formatter = new google.visualization.DateFormat({pattern: 'd MMM \u00E0 H:mm', timeZone: TZ});
    var js_data = $.ajax({ url: "/graph/data/{{ dataset_name }}/{{ db_type }}",
                           dataType:"json",
                           async: false
                         }).responseText;

    try {
        var data = new google.visualization.DataTable(js_data);
    } catch (e) {
        $('.frame').html('<h1>Erreur :</h1><p>' + e.message + '</p>');
    }

    date_formatter.format(data, 0);

    {% for name in names %}
        value_formatter.format(data, {{ forloop.counter }});
    {% endfor %}

    var DAY_TO_MS = 24 * 60 * 60 * 1000;
    var now = new Date();
    var minDate = new Date();
    minDate.setTime(now.getTime() - 5 * DAY_TO_MS);  // Default: 5 days back

    var options = {
        titlePosition: 'none',
        backgroundColor: 'white',
        legend: { position: 'bottom' },
        axisTitlesPosition: 'in',
        lineWidth: 1,
        chartArea: { width: '95%',
                     height: '90%' },
        hAxis: { gridlines: { color: '#888888' },
                 maxTextLines: 5,
                 titleTextStyle: {color: '#555555' },
                 viewWindow: { min: minDate },
        },
        vAxis: { title: '{{ units }}',
                 gridlines: { color: '#888888' },
                 minorGridlines: { count: 2, color:'#bbbbbb' }
        },
        series: [
                  {% if show_setpoint %}{ color: '#88ff88', visibleInLegend: false },{% endif %}
                  { color: '#880000', visibleInLegend: {% if dataset_name == 'all' %}true{% else %}false{% endif %} },
                  { color: '#000088', visibleInLegend: true },
                  { color: '#008800', visibleInLegend: true } ]
    };

    var chart = new google.visualization.LineChart(document.getElementById('graph'));

    // Postpone drawing to take all room
    $(document).ready(function() {
        var total = $('.container').height();
        total = total - $('.header').height();
        total = total - $('.footer').height();
        total = total - $('.push').height();
        total = total - $('.title').height();
        $('.frame').css("height", total * 0.9);
        chart.draw(data, options);
    });

    $(window).resize(function() {
        chart.draw(data, options);
    });

    update_graph = function(new_range) {
        if ($('#range_units').val() == "jours") {

            minDate.setTime(now.getTime() - new_range * DAY_TO_MS);
        } else {
            minDate.setTime(now.getTime() - new_range * 30 * DAY_TO_MS);
        }
        options.hAxis.viewWindow.min = minDate;
        chart.draw(data, options);
    }

    $('#range_units').change(function() {
        update_graph($('#range_nb').val());
    }).val("{{ range_units }}");

    $('#range_nb').spinner({
        min: 1,
        spin: function(event, ui) {
            update_graph(ui.value);
        },
    }).val({{ range_nb }});
}
{% endblock %}

