{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/status.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/custom-icons.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/consigne-dialog.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui-timepicker-addon.css" %}" />
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="{% static "js/jquery-ui-timepicker-addon.js" %}"></script>
{% endblock %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
<div class="status" id="status">
    <div class="sensor-background">
        <div class="sensor-data">
            <img class="sensor-logo" src="{% static "images/temperature.png" %}" alt="temperature"/>
            {% for sensor in temperature %}
            <div class="frame-spacer">
                <div class="frame" id="frame-{{ sensor.name }}-temp">
                    <div class="gauge" id="gauge-{{ sensor.name }}-temp"></div>
                    <div class="ilya">{{ sensor.since_when }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="sensor-spacer"></div>

    <div class="sensor-background">
        <div class="sensor-data">
            <img class="sensor-logo" src="{% static "images/humidity.png" %}" alt="humidite"/>
            {% for sensor in humidity %}
            <div class="frame-spacer">
                <div class="frame" id="frame-{{ sensor.name }}-humidity">
                    <div class="gauge" id="gauge-{{ sensor.name }}-humidity"></div>
                    <div class="ilya">{{ sensor.since_when }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="sensor-spacer"></div>

    <div class="sensor-background">
        <div class="sensor-data">
            <img class="sensor-logo" src="{% static "images/power.png" %}" alt="puissance"/>
            <div class="frame-spacer">
                <div class="frame" id="frame-{{ power.name }}">
                    <div class="gauge" id="gauge-{{ power.name }}"></div>
                    <div class="ilya">{{ power.since_when }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="buttons" id="buttons">
    <div class="button" id="graphs">&nbsp;</div>
    <div class="button" id="schedule">&nbsp;</div>
    <div class="button" id="override">&nbsp;</div>
    <div class="button" id="refresh">&nbsp;</div>
</div>

<div id="dialog-override" title="D&eacute;rogation">
    <div class="slider-container">
        <div class="small-button" id="slider-minus">-</div>
        <div class="temperature-slider">
            <div id="temperature-slider" class="temperature-slider"></div>
        </div>
        <div class="small-button" id="slider-plus">+</div>
        <div id="temperature-label" class="temperature-label"></div>
        <div class="temperature-units">&deg;C</div>
    </div>
    <label for="datepicker">Jusqu'&agrave; :</label>
    <input id="datepicker" />
</div>

<div id="override-success" title="Confirmation">
    <div class="saving">D&eacute;rogation sauvegard&eacute;e.</div>
</div>
<div id="override-failure" title="Erreur !">
    <div class="saving">D&eacute;rogation non appliqu&eacute;e :</div>
    <div id="override-failure-msg" class="override-error"></div>
</div>
{% endblock %}

{% block script %}
    $('#graphs').button({
        icons: {
            primary: "custom-icon-graphs"
        },
        text: false
    }).click(function() {
        window.location.href="/graph/all/temp";
    });
    $('#schedule').button({
        icons: {
            primary: "custom-icon-schedule"
        },
        text: false
    }).click(function() {
        window.location.href="/program";
    });
    $('#refresh').button({
        icons: {
            primary: "custom-icon-refresh"
        },
        text: false
    }).click(function() {
        window.location.reload();
    });
    $('#override').button({
        icons: {
            primary: "custom-icon-override-off"
        },
        text: false
    }).click(function() {

        {% if override_applied %}
        $.ajax({ url: '/override/clear',
             type: 'POST',
             data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
             success: function(response) {
                if (response.status == 'cleared') {
                    window.location.reload();
                } else {
                    $('#override-failure-msg').html(response.status);
                    $('#override-failure').dialog("open");
                }
             },
             error: function(xhr, textStatus, thrownError) {
                $('#override-failure-msg').html(xhr.status + ": " + xhr.responseText);
                $('#override-failure').dialog("open");
             }
        });
        {% else %}
        // Init value for the dialog
        $('#temperature-slider').slider('value', 20);

        // Callback to post override when dialog is accepted
        $('#dialog-override').one('submit', function(event, ui) {

            $.ajax({ url: '/override/post',
                 type: 'POST',
                 data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                         end_time: JSON.stringify($('#datepicker').datetimepicker('getDate')),
                         value: JSON.stringify($('#temperature-slider').slider('value')),
                       },
                 success: function(response) {
                    if (response.status == 'updated') {
                        $('#override-success').dialog("open");
                        $('#override-success').one('submit', function(event, ui) {
                            window.location.reload();
                        });
                    } else {
                        $('#override-failure-msg').html(response.status);
                        $('#override-failure').dialog("open");
                    }
                 },
                 error: function(xhr, textStatus, thrownError) {
                    $('#override-failure-msg').html(xhr.status + ": " + xhr.responseText);
                    $('#override-failure').dialog("open");
                 }
            });
        });

        // Fire dialog
        $('#dialog-override').dialog("open");
        {% endif %}
    });

    $('#dialog-override').dialog({
        modal: true,
        autoOpen: false,
        draggable: true,
        resizable: false,
        width: 'auto',
        buttons: {
            Ok: function() {
                $(this).trigger("submit");
                $(this).dialog("close");
            }
        }
    });
    $('#temperature-slider').slider({
        min: 10,
        max: 30,
        step: 0.5,
        slide: function(event, ui) {
            $('#temperature-label').html(ui.value.toFixed(1));
        },
        change: function(event, ui) {
            $('#temperature-label').html(ui.value.toFixed(1));
        }
    });
    $('#slider-minus').button().click(function() {
        var s = $('#temperature-slider');
        s.slider('value', s.slider('value') - s.slider( "option", "step" ) );
    });
    $('#slider-plus').button().click(function() {
        var s = $('#temperature-slider');
        s.slider('value', s.slider('value') + s.slider( "option", "step" ) );
    });

    $('#override-success').dialog({
        modal: true,
        autoOpen: false,
        draggable: true,
        resizable: false,
        width: 'auto',
        buttons: {
            Ok: function() {
                 $(this).trigger("submit");
                 $(this).dialog("close");
            }
        }
    });
    $('#override-failure').dialog({
        modal: true,
        autoOpen: false,
        draggable: true,
        resizable: false,
        width: 'auto',
        buttons: {
            Ok: function() { $(this).dialog("close"); }
        }
    });

    $.timepicker.regional['fr'] = {
        monthNamesMin: ['Ja', 'F&eacute;', 'Ma', 'Av', 'Ma', 'Jn', 'Jl', 'Ao', 'Se', 'Oc', 'No', 'D&eacute;'],
        monthNamesShort: ['Jan', 'F&eacute;v', 'Mar', 'Avr', 'Mai', 'Jun', 'Jul', 'Ao&ucirc;', 'Sep', 'Oct', 'Nov', 'D&eacute;c'],
        monthNames: ['Janvier', 'F&eacute;vrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Ao&ucirc;t', 'Septembre', 'Octobre', 'Novembre', 'D&eacute;cembre'],
        dayNamesMin: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
        dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
        dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
        firstDay: 1,
        timeText: 'Heure',
        hourText: 'Heures',
        minuteText: 'Minutes',
        secondText: 'Secondes',
        timeFormat: 'HH:mm',
        timeSuffix: '',
    };
    $.timepicker.setDefaults($.timepicker.regional['fr']);

    var now = new Date();
    $('#datepicker').datetimepicker({
        showOn: "button",
        showButtonPanel: false,
        defaultDate: 0,
        hour: now.getHours(),
        minute: now.getMinutes(),
    });

    {% if override_applied %}
    $('#override').button({
        icons: { primary: "custom-icon-override-on" }
    });
    {% else %}
    $('#override').button({
        icons: { primary: "custom-icon-override-off" }
    });
    {% endif %}

    {% if user.is_authenticated %}
    $('#override').button('enable');
    {% else %}
    $('#override').button('disable');
    {% endif %}

    {% for sensor in temperature %}
        $('#frame-{{ sensor.name }}-temp').click(function() {
            window.location.href="/graph/{{ sensor.name|lower }}/temp";
        });
    {% endfor %}
    $('#frame-{{ power.name }}').click(function() {
        window.location.href="/graph/{{ power.name|lower }}/power";
    });

    center_elements = function() {
        $('#buttons').position({
            my: "center top",
            at: "center bottom",
            of: "#content"
        });
        $('#status').position({
            my: "center",
            at: "center",
            of: "#content"
        });
    }

    google.load("visualization", "1.0", {packages:["gauge"]});
    google.setOnLoadCallback(drawChart);

    function drawChart() {

        // Options common to all temperature gauges
        var temp_options = {
            animation: { startup: true,
                         duration: 1000,
                         easing: 'out'},
            width: 150, height: 150,
            min: -20, max: 40,
            greenFrom: -20, greenTo: 0, greenColor: '#aaaaff',
            yellowFrom: 27, yellowTo: 40, yellowColor: '#ffe773',
            minorTicks: 5
        };

        var temp_formatter = new google.visualization.NumberFormat(
            { suffix: '\u00B0C', pattern: '#.#' }
        );

        // Options common to all temperature gauges
        var humidity_options = {
            animation: { startup: true,
                         duration: 1000,
                         easing: 'out'},
            width: 150, height: 150,
            min: 0, max: 100,
            greenFrom: 0, greenTo: 30, greenColor: '#ffe773',
            yellowFrom: 70, yellowTo: 100, yellowColor: '#aaaaff',
            minorTicks: 5
        };

        var humidity_formatter = new google.visualization.NumberFormat(
            { suffix: '%', pattern: '#' }
        );

        // Options for power gauge
        var power_options = {
            animation: { startup: true,
                         duration: 1000,
                         easing: 'out'},
            width: 150, height: 150,
            min: 0, max: 4000,
            greenFrom: 0, greenTo: 500, greenColor: '#aaaaff',
            yellowFrom: 1500, yellowTo: 3000, yellowColor: '#ffe773',
            redFrom: 3000, redTo: 4000, redColor: '#ff6445',
            minorTicks: 5
        };

        var power_formatter = new google.visualization.NumberFormat(
            { suffix: 'kW', pattern: '#.##' }
        );

        // Temperature gauges
        {% for sensor in temperature %}
            var data_{{ sensor.name }}_temp = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['{{ sensor.name }}', -20],
            ]);

            var chart_{{ sensor.name }}_temp = new google.visualization.Gauge(document.getElementById('gauge-{{ sensor.name }}-temp'));
            chart_{{ sensor.name }}_temp.draw(data_{{ sensor.name }}_temp, temp_options);
        {% endfor %}

        // Humidity gauges
        {% for sensor in humidity %}
            var data_{{ sensor.name }}_humidity = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['{{ sensor.name }}', 0],
            ]);

            var chart_{{ sensor.name }}_humidity = new google.visualization.Gauge(document.getElementById('gauge-{{ sensor.name }}-humidity'));
            chart_{{ sensor.name }}_humidity.draw(data_{{ sensor.name }}_humidity, humidity_options);
        {% endfor %}

        // Power gauge
        var data_{{ power.name }} = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['{{ power.name }}', 0],
        ]);

        var chart_{{ power.name }} = new google.visualization.Gauge(document.getElementById('gauge-{{ power.name }}'));
        chart_{{ power.name }}.draw(data_{{ power.name }}, power_options);

        setTimeout(function() {
            {% for sensor in temperature %}
                var data_{{ sensor.name }}_temp = google.visualization.arrayToDataTable([
                    ['Label', 'Value'],
                    ['{{ sensor.name }}', {{ sensor.temp }}],
                ]);
                temp_formatter.format(data_{{ sensor.name }}_temp, 1);
                chart_{{ sensor.name }}_temp.draw(data_{{ sensor.name }}_temp, temp_options);
            {% endfor %}

            {% for sensor in humidity %}
                var data_{{ sensor.name }}_humidity = google.visualization.arrayToDataTable([
                    ['Label', 'Value'],
                    ['{{ sensor.name }}', {{ sensor.humidity }}],
                ]);
                humidity_formatter.format(data_{{ sensor.name }}_humidity, 1);
                chart_{{ sensor.name }}_humidity.draw(data_{{ sensor.name }}_humidity, humidity_options);
            {% endfor %}

            var data_{{ power.name }} = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['{{ power.name }}', {{ power.power }}],
            ]);
            power_formatter.format(data_{{ power.name }}, 1);
            chart_{{ power.name }}.draw(data_{{ power.name }}, power_options);
        }, 200);
    }

    center_elements();
    $(window).resize(function() {
        center_elements();
    });
{% endblock %}

