{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/status.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/custom-icons.css" %}" />
{% endblock %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
<div class="temp_status" id="temp_status">
    {% for sensor in data %}
    <div class="frame-spacer">
        <div class="frame">
            <div class="label">{{ sensor.name }}</div>
            <div style="display: table-row;">
                <div class="temperature">{{ sensor.temp }}</div>
                <div class="units">&deg;C</div>
            </div>
            <div class="ilya">{{ sensor.since_when }}</div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="buttons" id="buttons">
    <div class="button" id="schedule">&nbsp;</div>
    <div class="button" id="refresh">&nbsp;</div>
</div>
{% endblock %}

{% block script %}
    $('#temp_status').position({
        my: "center",
        at: "center",
        of: "#content"
    });
    $('#schedule').button({
        icons: {
            primary: "custom-icon-schedule"
        },
        text: false
    }).click(function() {
        window.location.href="/chauffage/program";
    });
    $('#refresh').button({
        icons: {
            primary: "custom-icon-refresh"
        },
        text: false
    }).click(function() {
        window.location.reload();
    });
    $('#buttons').position({
        my: "center",
        at: "bottom",
        of: "#content"
    });
{% endblock %}

