{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/status.css" %}" />
{% endblock %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
<div class="temp_status" id="temp_status">
    {% for sensor in data %}
    <div class="frame-spacer">
        <div class="frame">
            <div class="label">{{ sensor.name }}</div>
            <div style="display: table-row;">
                <div class="temperature">{{ sensor.temp }}</div>
                <div class="units">&deg;C</div>
            </div>
            <div class="ilya">{{ sensor.since_when }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
    $('#temp_status').position({
        my: "center",
        at: "center",
        of: "#content"
    });
{% endblock %}

