.button {
    width: 48px;
    height: 48px;
    margin-left: 16px;
    margin-right: 16px;
}

.ui-button .ui-icon.custom-icon-graphs {
    background-image: url(/static/images/graphs.png);
    width: 48px;
    height: 48px;
    left: 16px;
    top: 16px;
}

.ui-button .ui-icon.custom-icon-graphs:hover {
    background-image: url(/static/images/graphs-hover.png);
}

.ui-button .ui-icon.custom-icon-refresh {
    background-image: url(/static/images/refresh.png);
    width: 48px;
    height: 48px;
    left: 16px;
    top: 16px;
}

.ui-button .ui-icon.custom-icon-refresh:hover {
    background-image: url(/static/images/refresh-hover.png);
}

.ui-button .ui-icon.custom-icon-schedule {
    background-image: url(/static/images/schedule.png);
    width: 48px;
    height: 48px;
    left: 16px;
    top: 16px;
}

.ui-button .ui-icon.custom-icon-schedule:hover {
    background-image: url(/static/images/schedule-hover.png);
}

.ui-button .ui-icon.custom-icon-check {
    background-image: url(/static/images/check.png);
    width: 48px;
    height: 48px;
    left: 16px;
    top: 16px;
}

.ui-button .ui-icon.custom-icon-check:hover {
    background-image: url(/static/images/check-hover.png);
}

.ui-button .ui-icon.custom-icon-override-off {
    background-image: url(/static/images/override-off.png);
    width: 48px;
    height: 48px;
    left: 16px;
    top: 16px;
}

.ui-button .ui-icon.custom-icon-override-off:hover {
    background-image: url(/static/images/override-off-hover.png);
}

.ui-button .ui-icon.custom-icon-override-on {
    background-image: url(/static/images/override-on.png);
    width: 48px;
    height: 48px;
    left: 16px;
    top: 16px;
}

.ui-button .ui-icon.custom-icon-override-on:hover {
    background-image: url(/static/images/override-on-hover.png);
}

.ui-button .ui-icon.custom-icon-off {
    background-image: url(/static/images/ledoff.png);
    width: 48px;
    height: 48px;
    left: 16px;
    top: 16px;
}

.ui-button .ui-icon.custom-icon-on {
    background-image: url(/static/images/ledon.png);
    width: 48px;
    height: 48px;
    left: 16px;
    top: 16px;
}

.ui-button .ui-icon.custom-icon-on:hover, .ui-icon.custom-icon-off:hover {
    background-image: url(/static/images/led-hover.png);
}

.ui-button .ui-icon.custom-icon-delete {
    background-image: url(/static/images/delete.png);
    width: 24px;
    height: 24px;
    left: 8px;
    top: 8px;
}

.ui-button .ui-icon.custom-icon-delete:hover {
    background-image: url(/static/images/delete-hover.png);
}

.ui-button .ui-icon.custom-icon-add {
    background-image: url(/static/images/add.png);
    width: 24px;
    height: 24px;
    left: 8px;
    top: 8px;
}

.ui-button .ui-icon.custom-icon-add:hover {
    background-image: url(/static/images/add-hover.png);
}