.title {
    font-size: 3em;
    font-family: arial;
    font-style: italic;
    text-align: center;
}

.graph {
    height: 100%;
    text-align: center;
    margin: 0;
}

.frame {
    height: 10em;
}

.content {
    margin-top: 1em;
    width: 95%;
}

.range {
    display: table-row;
}

.range-item {
    display: table-cell;
    padding-right: 2em;
}