.frame {
    display: table;
    background-color: #99d1de;
    border-radius: 5px;
    padding: 1em;
    width: 21em;
    color: #0a5f73;
}

.creds {
    display: table-cell;
    font-weight: bold;
    color: #0a5f73;
    padding-left: 2em;
}

.button {
    margin-top: 2em;
    float: right;
}