.content {
    width: 98%;
}

pre.log {
    font-size: 0.5em;
}

#logs .ui-accordion-content {
    max-height: 250px;
}

.ui-accordion-header {
    background-color: #cbecf4;
    background-image: none;
    color: #0a5f73;
}

.ui-accordion-header-active {
    background-color: #7fc0cf;
    border-color: #cbecf4;
}