.status {
    display: table-row;
}

.frame-spacer {
    display: table-cell;
    border-spacing: 5px;
}

.frame {
    background-color: #99d1de;
    border-radius: 10px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.gauge {
    width: 200px;
    height: 200px;
}

.ilya {
    font-style: italic;
    text-align: center;
}

.content {
    margin-top: 1em;
    width: 95%;
    margin-bottom: 32px;
}

.buttons {
    display: inline;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #99d1de;
    border-radius: 5px;
}