.status {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.status-container {
    display: table;
    padding: 8px;
    margin: auto;
    border-spacing: 10px;
}

.frame-spacer {
    display: table-cell;
}

.frame {
    background-color: #99d1de;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.gauge {
    width: 150px;
    height: 150px;
}

.ilya {
    font-style: italic;
    text-align: center;
}

.content {
    margin-top: 0.5em;
    width: 100%;
    margin-bottom: 32px;
}

.buttons {
    display: table-cell;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #cbecf4;
    border-radius: 5px;
}

.sensor-background {
    display: table-cell;
    border-radius: 10px;
    background-color: #cbecf4;
    border-spacing: 8px;
    margin-bottom: 20px;
}

.sensor-data {
    display: table-row;
}

.sensor-logo {
    width: auto;
    max-height: 150px;
    margin-left: 15px;
}

.sensor-spacer {
    width: 15px;
}

.saving {
    font-size: 1.5em;
    text-align: center;
}

.override-error {
    font-style: italic;
    text-align: center;
}
