.temp_status {
    display: table-row;
}

.frame-spacer {
    background: solid black;
    display: table-cell;
    border-spacing: 5px;
}

.frame {
    background: linear-gradient(azure, lavender);
    border-radius: 10px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.label {
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
}

.temperature {
    display: table-cell;
    text-align: center;
    margin: 0 auto;
    font-size: 4em;
    font-family: arial;
}

.units {
    display: table-cell;
    vertical-align: top;
    padding-top: 0.75em;
    font-weight: bold;
}

.ilya {
    font-style: italic;
    text-align: center;
}

.content {
    margin-top: 3em;
    width: 95%;
}